@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap");
.light-theme{
  --backgroundColor: #a9dce3;
  --navbarColor: #d2d7da;
  --cardColor: radial-gradient(79.69% 102.24% at 100% 100.11%,rgba(0,0,0,.2),transparent), radial-gradient(89.7% 115.09% at 3.43% 2.75%,hsla(0,0%,100%,.7),hsla(0,0%,100%,0)), #99eedf;
  --textColor: #000;
  --brandColor: #183266;
}
.dark_theme {
--backgroundColor: #121212;
--navbarColor: #475157;
--cardColor: radial-gradient(79.69% 102.24% at 100% 100.11%,rgba(0,0,0,.2),transparent), radial-gradient(89.7% 115.09% at 3.43% 2.75%,rgba(50,50,50,.7),hsla(0,0%,39%,.5)), #a3a3a3;
--textColor: #fff;
--brandColor: #f16eb6;
}

* {
  font-family: 'Poppins';
}

body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Poppins' !important;
  background: var(--backgroundColor);
  color: var(--textColor);
}


.home-page-container{
  background-color: var(--backgroundColor);
}
